/* Typography for Web App
------------------------------------------------------------------ */

@import "webapp_variables";


/*----------- Web App Buttons and links ------------------------*/

.webappButton {
    @include fadeAnimation;
	@include latoSemibold;
	font-size: 15px;
	padding: 10px 44px;
    border-radius: 100px;
	margin: 20px 25px 10px 0;
}

.webappButton--disabled {
    
    color: $white;
	background: $buttonDisabled;
	border: $buttonPrimary;
	&:hover{
}
}

.webappButton--primary{
	color: $white;
	background: $buttonActive;
    &:active {
    color: $white;
	background: $buttonActive;  }
    box-shadow: 0 2px 6px 2px;
	border: $buttonActive;
	&:hover{
    background: lighten($buttonActive, 5%);
	}
    
}

/*--------
.webappButton--hover {
    color: $white;
	background: lighten($buttonActive, 5%);
	border: $buttonPrimary;
	&:hover{
    background: lighten($buttonActive, 5%);
	}
}
-------*/

.webappButton--pressed {
	color: $white;
	background: $buttonActive;
	border: 1px solid $buttonActive;
	&:visted{
		background: darken($white, 3%);
	}
    box-shadow: 0 0 2px 1px rgba(193,193,193,0.50);
}


.webappButton--icon{
	color: $white;
     background-image: url('../assets/images/add-to-contact.svg');
	background: $buttonIcon;
    &:active {
    color: $white;
	background: $buttonActive;  }
    box-shadow: 0 2px 6px 2px;
	border: $buttonActive;
	&:hover{
    background: lighten($buttonActive, 5%);
	}
    
}


/*---------- end of buttons --------*/


.tag{
	font-size: 13px;
	display: inline-block;
	margin: 0 4px 8px;
	color: $cmsLink;
	background: lighten($cmsLink, 60%);
	border-radius: 5px;
	border: solid 1px $cmsLink;
	padding: 6px 12px;
}

.tag--negative{
	color: $red;
	background: lighten($red, 46%);
	border: solid 1px $red;
}

a.remove{
	background-image: url('../assets/images/remove-blue.svg');
  	background-position: 10px 6px;
  	background-repeat: no-repeat;
  	padding-right: 20px;
}

a.remove--negative{
	background-image: url('../assets/images/remove-red.svg');
}

label{
	@include latoBold;
	font-size: 12px;
	color: $buttonSecondaryText;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	padding-bottom: 3px;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
	height: 34px;
  padding: 6px 8px;
  vertical-align: middle;
	width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
	&.warning{
		border-color: $red;
	}
    }