
/*Iconograhy
-----------------------------------------------------------------------------------------------------*/
.webapp-iconography--block tr{
	height: 70px;
}

.webapp-iconography--block td:nth-child(odd){
	width: 70px;
	vertical-align: middle;
}

.iconography--icons{
	height: 20px;
	vertical-align: middle;
}

.mobileNumber {
    
    height: 25px; 
}
