li.colour__block {
  width: 22.6%;
  margin-right: 2%;
  height: 135px;
  display: inline-block;
  position: relative;
  border-radius: 7px; }
  li.colour__block:last-child {
    margin-right: 0; }
  li.colour__block--onewebapp {
    background: #213444; }
  li.colour__block--twowebapp {
    background: #B1B6BE; }
  li.colour__block--threewebapp {
    background: #0570B6; }
  li.colour__block--fourwebapp {
      background: #D62D29; }
  li.colour__block--fivewebapp {
    background: #637289; }
  li.colour__block--sixwebapp {
    background: #A6B2C4; }
  li.colour__block--sevenwebapp {
    background: #657284; }
  li.colour__block--eightwebapp {
      background: #818181; }
      
  li.colour__block--buttononewebapp {
    background: #E0E0E0; }
  li.colour__block--buttontwowebapp {
    background: #D2D9E1; }
  li.colour__block--buttonthreewebapp {
    background: #6EB81D; }
  li.colour__block--buttonfourwebapp {
      background: #D72B36; }
  li.colour__block--buttonfivewebapp {
    background: #D34C56; }
  li.colour__block--buttonsixwebapp {
    background: #00346F; }