

/* Forms Section
-----------------------------------------------------------------------------------------------------*/
/*----------form inputs ----------*/

.webapp-form-group input[type=text], .webapp-form-group input[type=password], .webapp-form-group input[type=email], .webapp-form-group input[type=tel], .webapp-form-group textarea, .webapp-form-group select{
  color: $textNavy;
}


#page--webapp-modals textarea::placeholder, #page--webapp-forms input::placeholder{
    color: $webappPlaceholder;
    font-size: 18px;
}


.webapp-form-group input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
  height: 25px;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
  padding-left: 45px;
  border-radius: 0px;
  color: $textNavy;
	&.warning{
		border-color: $red;
	}
  font-size: 18px;
}
.webapp-form-group--header input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
  height: 25px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
    padding-left: 45px;
    border-radius: 0px;
	&.warning{
		border-color: $red;
	}
  font-size: 18px;
}

.webapp-form-group--password
input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
  height: 25px;
  padding-left: 35px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
    border-radius: 0px;
	&.warning{
  border-color: $red;
	}
  padding-top: 15px;
  padding-bottom: 40px;

}

.webapp-form-group--password2
input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
  height: 25px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 0px;
  border-left: 0px ;
  padding-left: 45px;
    border-radius: 0px;
	&.warning{
  border-color: $red;
	}
    padding-top: 30px;
}

.webapp-form-group--password2 input[type=password] {
  height: 32px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
  padding-left: 45px;
    border-radius: 0px;
	&.warning{
  border-color: $red;
	}
  padding-top: 15px;
  padding-bottom: 17px;
}
.webapp-form-group--password input[type=password] {
  height: 30px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
  padding-left: 45px;
    border-radius: 0px;
	&.warning{
  border-color: $red;
	}
    padding-top: 15px;
    padding-bottom: 17px;
}
.webapp-form-group--header {
    background-image: url('../assets/images/webapp/username-icon.svg');
    background-repeat: no-repeat;
    padding-right: 0px;
    //padding-bottom: 20px;
    padding-top: 20px;
    background-position-x: 2px;
    background-position-y: 20px;
}

.webapp-form-group--password {
    background-image: url('../assets/images/lock.svg');
    background-repeat: no-repeat;
    padding-top: 12px;
    margin-top: 0px;
    background-position-x: -18px;
    background-position-y: 18px;
    width: 100%;
    background-size: 15% 15%;
}

 .webapp-form-group--password2 {
  background-image: url('../assets/images/lock.svg');
    background-repeat: no-repeat;
    padding-top: 12px;
    margin-top: 0px;
    background-position-x: -23px;
    background-position-y: 18px;
    width: 100%;
    background-size: 18% 18%;
}

.webapp-form-group--header label {

padding-left: 45px;
letter-spacing: 0.5px;

}
.webapp-form-group--password label {

padding-left: 45px;
      padding-top: 10px;
letter-spacing: 0.5px;
}
.webapp-form-group--password2 label {

padding-left: 45px;
      padding-top: 10px;
    letter-spacing: 0.5px;
}

.terms {
    color: $webappLink;
    margin-right: 80px;
}

/* Forms fields
-----------------------------------------------------------------------------------------------------*/
.webapp-form-group{
	display: inline-block;
	vertical-align: top;
	p {
		width: 100%;
	}
}

.webapp-form--dataFields{
	display: inline-block;

}

.webapp-form--dataFieldsReset{
	color: $blue;
	font-size: 16px;
}

.terms:hover {
text-decoration: underline;
}

.text-form--helper {
    color: $webappPlaceholder;
    font-size: 18px;
    max-width: 50%;
    margin-left: 20px;
}

.webapp-form--dataFieldsCheckbox {
    padding-top: 15px;
    color: $textGrey;
    padding-bottom: 15px;

}

.webapp-form--dataFieldsCheckbox input[type=checkbox] {
  width: 20px;
  cursor: pointer;
  font-size: 12px;
  visibility: hidden;
  padding-bottom: 10px;
  position: relative;
  vertical-align: middle;
  height: 20px;


}
.webapp-form--dataFieldsCheckbox input[type=checkbox]:after {
  content: " ";
  display: inline-block;
  margin-left: 0px;
  color: green;
  width: 15px;
  height: 15px;
  visibility: visible;
  border-radius: 3px;
  border: 1px solid #C2C2C2;
  background-image: linear-gradient(-180deg, rgba(255,255,255,1) 10%, rgba(0,0,0,0.03) 100%);
}

.webapp-form--dataFieldsCheckbox input[type=checkbox]:checked:after {
content: "";
    text-align: center;

//    margin: 0 auto;
    //padding: 0 2px 6px 2px;
   background-image: url('../assets/images/cms/green-tick.svg');
   background-repeat: no-repeat;
   background-position: .5px;
}


/////////////////////////



.webapp-form-group--header--helper {
    margin-left: 60px;
}

/*------------ Helper text ----------------------------*/

.webapp-form-group--header--helper input[type=password] {
  height: 32px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
  padding-left: 45px;
    border-radius: 0px;
	&.warning{
  border-color: $red;
	}
    margin-bottom: 2px;
    margin-top: -2px;
}

.webapp-form-group--header--helper-mobile
input[type=text] {
    padding-left: 76px;

}
/*----------------- helper text--------------------*/
.webapp-form-group--header--helper {
    background-image: url('../assets/images/lock.svg');
    background-repeat: no-repeat;
    padding-right: 0px;
     background-position-x: -24px;
    background-position-y: 14px;
    width: 100%;
    background-size: 21% 21%;
}
.webapp-form-group--header--helper-mobile {
    background-image: url('../assets/images/webapp/mobile-icon.svg');
    background-size: 14px;
    background-repeat: no-repeat;
    padding-top: 2px;
    background-position-x: 2px;
    background-position-y: -.5px;
}
.text-form--helper--mobile {
    padding-bottom: .5em;
}
.webapp-form-group--mobile {
     background-image: url('../assets/images/webapp/country-dropdown.svg');
     background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 42px;
     background-position-y: 8px; 
}

.text-form--helper {
    line-height: 20px;
}

.webapp-form-group p {
    
    font-size: 13px;
    line-height: 17px;
}
/*------ Errors ----------*/

.webapp-form-group--header--error input[type=password] {
  height: 32px;
  vertical-align: middle;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $red;
  border-left: 0px ;
  padding-left: 45px;
  border-radius: 0px;

}
.webapp-form-group--header--error {
     background-image: url('../assets/images/lock.svg');
    background-repeat: no-repeat;
    padding-right: 10px;
    padding-bottom: 0px;
    background-position-x: -27px;
    background-position-y: 15px;
    background-size: 21% 21%;
    
}
.webapp-form-group--header--error p {
    font-size: 14px;
    color: $red;
    line-height: 20px;
}


.webapp-form-group{
    max-width: 383px;
    margin: 0 auto;
    display: block;
}



