
/* Webapp Variables
------------------------------------------------------------------ */

$textNavy:  #213444;
$textGrey: #6D7C99;

$borderGrey: #E5E5E5;
$webappPlaceholder: #76859B;

/* Webapp Button
------------------------------------------------------------------ */

$buttonActive: #00346F;
$buttonIcon: #D34C56;
