/*------------------------------------------------- webapp modals -------------------------------------------*/

.main__content__ul li {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 18px;
    line-height: 1.4em;
    padding-bottom: 0.5em;
    list-style: inside;
}