li.colour__block {
  width: 22.6%;
  margin-right: 2%;
  height: 135px;
  display: inline-block;
  position: relative;
  border-radius: 7px; }
  li.colour__block:last-child {
    margin-right: 0; }
  li.colour__block--one {
    background: #6A6F75; }
  li.colour__block--two {
    background: #9A9FA5; }
  li.colour__block--three {
    background: #0570B6; }
  li.colour__block--four {
    background: #D62D29; }
  li.colour__block--five {
    background: #00B5EB; }
  li.colour__block--six {
    background: #D2D9E1; }
  li.colour__block--seven {
    background: #657D98; }
  li.colour__block--eight {
    background: #F7F7F7; }
  li.colour__block--nine {
    background: #067BBE; }
  li.colour__block--ten {
    background: #E1E1E1; }
