
/* Webapp Variables New
------------------------------------------------------------------ */
$textNavy:  #213444;
$textGrey: #6D7C99;

$borderGrey: #E5E5E5;
$webappPlaceholder: #B1B6BE;
$webappLink: #0570B6;


/* Webapp Button
------------------------------------------------------------------ */

$webappPrimary: #00346F;
$buttonIcon: #D34C56;
$buttonRed: #D0021B;
$buttonBlue: #296FC2;
