# Site settings
title: TheAppBuilder Pattern Library
email: melissa.keizer@theappbuilder.com
description: > # this means to ignore newlines until "baseurl:"
 TheAppBuilder's centralised hub for showcasing our design rules, principles, and frontend components.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://melissakeizer.github.io/tab-pattern-library/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: theappbuilder
github_username:  theappbuilder
website_url: https://melissakeizer.github.io/tab-pattern-library/

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
