<nav class="navigation__secondary">
    <ul class="navigation__secondary__list">
      <li><a href="{{ site.baseurl }}/cms/" {% if page.selected == "cms-home" %}class="active"{% endif %} >Introduction</a></li>
  		<li><a href="{{ site.baseurl }}/cms/typography/" {% if page.selected == "cms-typography" %}class="active"{% endif %} >Typography</a></li>
  		<li><a href="{{ site.baseurl }}/cms/buttons/" {% if page.selected == "cms-buttons" %}class="active"{% endif %} >Buttons &amp; Links</a></li>
      <li><a href="{{ site.baseurl }}/cms/tags/" {% if page.selected == "cms-tags" %}class="active"{% endif %} >Tags</a></li>
      <li><a href="{{ site.baseurl }}/cms/colours/" {% if page.selected == "cms-colours" %}class="active"{% endif %} >Colour Palette</a></li>
  		<li><a href="{{ site.baseurl }}/cms/forms/" {% if page.selected == "cms-forms" %}class="active"{% endif %} >Forms</a></li>
      <li><a href="{{ site.baseurl }}/cms/errors/" {% if page.selected == "cms-errors" %}class="active"{% endif %} >Errors &amp; Warnings</a></li>
  		<li><a href="{{ site.baseurl }}/cms/tables/" {% if page.selected == "cms-tables" %}class="active"{% endif %} >Using Tables</a></li>
  		<!-- <li><a href="{{ site.baseurl }}/cms/search/" {% if page.selected == "cms-search" %}class="active"{% endif %} >Search</a></li> -->
  		<li><a href="{{ site.baseurl }}/cms/page/" {% if page.selected == "cms-page" %}class="active"{% endif %} >Styling a Page</a></li>
        <li><a href="{{ site.baseurl }}/cms/panels/" {% if page.selected == "cms-panels" %}class="active"{% endif %} >Panels</a></li>
  		<li><a href="{{ site.baseurl }}/cms/modals/" {% if page.selected == "cms-modals" %}class="active"{% endif %} >Modals</a></li>
        <li><a href="{{ site.baseurl }}/cms/media-modals/" {% if page.selected == "cms-media-modals" %}class="active"{% endif %} >Media Modals</a></li>
        <li><a href="{{ site.baseurl }}/cms/icons/" {% if page.selected == "cms-icons" %}class="active"{% endif %} >Icons &amp; Illustrations</a></li>
        <li><a href="{{ site.baseurl }}/cms/widgets/" {% if page.selected == "cms-widgets" %}class="active"{% endif %} >Widgets</a></li>
        <li><a href="{{ site.baseurl }}/cms/tooltips/" {% if page.selected == "cms-tooltips" %}class="active"{% endif %} >Tooltips</a></li>
    </ul>
</nav>
