<nav class="navigation__primary">
	<div class="container">
		<a href="{{ site.baseurl }}/" class="logo logo--main"><img src="{{ site.baseurl }}/assets/images/tab_logo.svg" alt="TAB logo" /img></a>
	    <ul class="navigation__primary__list">
	      <li  class="platform"><a href="{{ site.baseurl }}/cms/" {% if platform.selected == "cms" %}class="active"{% endif %} >Content Management System</a></li>
	      <li class="platform"><a href="{{ site.baseurl }}/native-apps/" {% if platform.selected == "mobileapp" %}class="active"{% endif %}>Mobile Apps</a></li>
	      <li class="platform"><a href="{{ site.baseurl }}/webapp/" {% if platform.selected == "webapp" %}class="active"{% endif %}>Webapp</a></li>
	    </ul>
	</div>
</nav>
