<nav class="navigation__primary">
	<div class="container">
		<a href="{{ site.baseurl }}/" class="logo logo--main"><img src="{{ site.baseurl }}/assets/images/tab_logo.svg" alt="TAB logo" /img></a>
		  <a href="#" id="navigation__mobile__icon" class="hamburgerMenu"><img src="{{ site.baseurl }}/assets/images/base/burger-menu.svg" alt="Open Menu" /img></a>
	    <ul class="navigation__primary__list">
	      <li  class="platform"><a href="{{ site.baseurl }}/cms/" {% if page.platform == "cms" %}class="active"{% endif %} >Content Management System</a></li>
	      <li class="platform"><a href="{{ site.baseurl }}/native/" {% if page.platform == "mobileapp" %}class="active"{% endif %}>Mobile Apps</a></li>
	      <li class="platform"><a href="{{ site.baseurl }}/webapp/" {% if page.platform == "webapp" %}class="active"{% endif %}>Webapp</a></li>
          <li class="platform"><a href="{{ site.baseurl }}/history/" {% if page.platform == "history" %}class="active"{% endif %}>Revision History</a></li>
	    </ul>
	</div>
</nav>
