<nav class="navigation__mobile">
	<a href="#page" class="menu__close"></a>
	<a href="{{ site.baseurl }}/" class="logo logo--mobile"><img src="{{ site.baseurl }}/assets/images/tab_logo.svg" alt="TAB logo" /img></a>
    <ul class="navigation__mobile__list">
      <li  class="platform"><a href="{{ site.baseurl }}/cms/" {% if platform.selected == "cms" %}class="active"{% endif %} >Content Management System</a></li>
      <li><a href="/cms/type/" {% if page.selected == "cms-type" %}class="active"{% endif %} >Type</a></li>
  		<li><a href="/cms/colours/" {% if page.selected == "cms-colours" %}class="active"{% endif %} >Colour Palette</a></li>
  		<li><a href="/cms/buttons/" {% if page.selected == "cms-buttons" %}class="active"{% endif %} >Buttons</a></li>
  		<li><a href="/cms/icons/" {% if page.selected == "cms-icons" %}class="active"{% endif %} >Icons</a></li>
  		<li><a href="/cms/forms/" {% if page.selected == "cms-forms" %}class="active"{% endif %} >Forms</a></li>
  		<li><a href="/cms/tables/" {% if page.selected == "cms-tables" %}class="active"{% endif %} >Tables</a></li>
  		<li><a href="/cms/search/" {% if page.selected == "cms-search" %}class="active"{% endif %} >Search</a></li>
  		<li><a href="/cms/pages/" {% if page.selected == "cms-pages" %}class="active"{% endif %} >Tabbed Pages</a></li>
  		<li><a href="/cms/sidebars/" {% if page.selected == "cms-sidebars" %}class="active"{% endif %} >Sidebars</a></li>
      <li class="platform"><a href="{{ site.baseurl }}/native-apps/" {% if platform.selected == "mobileapp" %}class="active"{% endif %}>Mobile Apps</a></li>
      <li class="platform"><a href="{{ site.baseurl }}/webapp/" {% if platform.selected == "webapp" %}class="active"{% endif %}>Webapp</a></li>
    </ul>
</nav>
