<nav class="navigation__mobile">
	<a href="#" id="menu__close"></a>
	<a href="{{ site.baseurl }}/" class="logo logo--main logo--mobileMenu"><img src="{{ site.baseurl }}/assets/images/tab_logo.svg" alt="TAB logo" /img></a>
    <ul class="navigation__mobile__list">
      <li  class="platform"><a href="{{ site.baseurl }}/cms/" {% if platform.selected == "cms" %}class="active"{% endif %} >Content Management System</a></li>
			<li><a href="{{ '/cms/typography/' | prepend: site.baseurl }}" {% if page.selected == "cms-typography" %}class="active"{% endif %} >Typography</a></li>
  		<li><a href="{{ site.baseurl }}/cms/buttons/" {% if page.selected == "cms-buttons" %}class="active"{% endif %} >Buttons &amp; Links</a></li>
      <li><a href="{{ site.baseurl }}/cms/tags/" {% if page.selected == "cms-tags" %}class="active"{% endif %} >Tags</a></li>
      <li><a href="{{ site.baseurl }}/cms/colours/" {% if page.selected == "cms-colours" %}class="active"{% endif %} >Colour Palette</a></li>
  		<li><a href="{{ site.baseurl }}/cms/forms/" {% if page.selected == "cms-forms" %}class="active"{% endif %} >Forms</a></li>
      <li><a href="{{ site.baseurl }}/cms/errors/" {% if page.selected == "cms-errors" %}class="active"{% endif %} >Errors &amp; Warnings</a></li>
  		<li><a href="{{ site.baseurl }}/cms/tables/" {% if page.selected == "cms-tables" %}class="active"{% endif %} >Using Tables</a></li>
  		<li><a href="{{ site.baseurl }}/cms/page/" {% if page.selected == "cms-page" %}class="active"{% endif %} >Styling a Page</a></li>
  		<li><a href="{{ site.baseurl }}/cms/modals/" {% if page.selected == "cms-modals" %}class="active"{% endif %} >Modals</a></li>
      <li><a href="/cms/icons/" {% if page.selected == "cms-icons" %}class="active"{% endif %} >Icons</a></li>

      <li class="platform"><a href="{{ site.baseurl }}/webapp/" {% if platform.selected == "webapp" %}class="active"{% endif %}>Webapp</a></li>
			<li><a href="{{ site.baseurl }}/webapp/" {% if page.selected == "webapp-home" %}class="active"{% endif %} >Introduction</a></li>
			<li><a href="{{ site.baseurl }}/webapp/typography/" {% if page.selected == "webapp-typography" %}class="active"{% endif %} >Typography</a></li>
			<li><a href="{{ site.baseurl }}/webapp/buttons/" {% if page.selected == "webapp-buttons" %}class="active"{% endif %} >Buttons &amp; Links</a></li>
			<li><a href="{{ site.baseurl }}/webapp/colours/" {% if page.selected == "webapp-colours" %}class="active"{% endif %} >Colour Palette</a></li>
			<li><a href="{{ site.baseurl }}/webapp/modals/" {% if page.selected == "webapp-modals" %}class="active"{% endif %} >Modals</a></li>
			<li><a href="{{ site.baseurl }}/webapp/forms/" {% if page.selected == "webapp-forms" %}class="active"{% endif %} >Forms</a></li>
			<!-- <li><a href="{{ site.baseurl }}/webapp/social-components/" {% if page.selected == "webapp-social-components" %}class="active"{% endif %} >Social Components</a></li> -->
			<li><a href="{{ site.baseurl }}/webapp/list-cards/" {% if page.selected == "webapp-list-cards" %}class="active"{% endif %} >List Cards</a></li>
			<li><a href="{{ site.baseurl }}/webapp/navigation/" {% if page.selected == "webapp-navigation" %}class="active"{% endif %} >Navigation</a></li>
			<li><a href="{{ site.baseurl }}/webapp/icons/" {% if page.selected == "webapp-icons" %}class="active"{% endif %} >Icons</a></li>

			<li class="platform"><a href="{{ site.baseurl }}/native/" {% if platform.selected == "mobileapp" %}class="active"{% endif %}>Mobile Apps</a></li>
        	<li><a href="{{ site.baseurl }}/native/" {% if page.selected == "native-home" %}class="active"{% endif %} >Introduction</a></li>

    </ul>
</nav>
