<nav class="navigation__secondary">
    <ul class="navigation__secondary__list">
      <li><a href="{{ site.baseurl }}/native/" {% if page.selected == "native-home" %}class="active"{% endif %} >Introduction</a></li>
      <li><a href="{{ site.baseurl }}/native/typography/" {% if page.selected == "native-typography" %}class="active"{% endif %} >Typography</a></li>
      <li><a href="{{ site.baseurl }}/native/buttons/" {% if page.selected == "native-buttons" %}class="active"{% endif %} >Buttons &amp; Links</a></li>
      <li><a href="{{ site.baseurl }}/native/colours/" {% if page.selected == "native-colours" %}class="active"{% endif %} >Colour Palette</a></li>
      <li><a href="{{ site.baseurl }}/native/navigation/" {% if page.selected == "native-navigation" %}class="active"{% endif %} >Navigation</a></li>
      <li><a href="{{ site.baseurl }}/native/forms/" {% if page.selected == "native-forms" %}class="active"{% endif %} >Forms</a></li>
      <li><a href="{{ site.baseurl }}/native/errors/" {% if page.selected == "native-errors" %}class="active"{% endif %} >Error Handling</a></li>
      <li><a href="{{ site.baseurl }}/native/modals/" {% if page.selected == "native-modals" %}class="active"{% endif %} >Native Modals</a></li>
      <!-- <li><a href="{{ site.baseurl }}/native/ugc/" {% if page.selected == "native-ugc" %}class="active"{% endif %} >User Generated Content</a></li> -->
      <li><a href="{{ site.baseurl }}/native/search/" {% if page.selected == "native-search" %}class="active"{% endif %} >Search</a></li>
	    <li><a href="{{ site.baseurl }}/native/list-layouts/" {% if page.selected == "native-list-layouts" %}class="active"{% endif %} >List Layouts</a></li>
      <li><a href="{{ site.baseurl }}/native/icons/" {% if page.selected == "native-icons" %}class="active"{% endif %} >Icons</a></li>
    </ul>
</nav>
