<nav class="main-nav">
	<a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/images/tab_logo.svg" alt="TAB logo" /img></a>
    <ul class="main-navigation__list">
       <li><a href="{{ site.baseurl }}/" {% if page.selected == "home" %}class="active"{% endif %}>Introduction</a></li>
      <li><a href="{{ site.baseurl }}/cms/" {% if page.selected == "cms" %}class="active"{% endif %}>CMS</a></li>
      <li><a href="{{ site.baseurl }}/native-apps/" {% if page.selected == "native-apps" %}class="active"{% endif %}>Android + iOS Apps</a></li>
      <li><a href="{{ site.baseurl }}/webapp/" {% if page.selected == "webapp" %}class="active"{% endif %}>Webapp</a></li>
    </ul>
</nav>


