<nav class="navigation__secondary">
    <ul class="navigation__secondary__list">
      <li><a href="{{ site.baseurl }}/webapp/" {% if page.selected == "webapp-home" %}class="active"{% endif %} >Introduction</a></li>
  		<li><a href="{{ site.baseurl }}/webapp/typography/" {% if page.selected == "webapp-typography" %}class="active"{% endif %} >Typography</a></li>
  		<li><a href="{{ site.baseurl }}/webapp/buttons/" {% if page.selected == "webapp-buttons" %}class="active"{% endif %} >Buttons &amp; Links</a></li>
      <li><a href="{{ site.baseurl }}/webapp/colours/" {% if page.selected == "webapp-colours" %}class="active"{% endif %} >Colour Palette</a></li>
      <li><a href="{{ site.baseurl }}/webapp/modals/" {% if page.selected == "webapp-modals" %}class="active"{% endif %} >Modals</a></li>
      <li><a href="{{ site.baseurl }}/webapp/forms/" {% if page.selected == "webapp-forms" %}class="active"{% endif %} >Forms</a></li>
      <li><a href="{{ site.baseurl }}/webapp/errors/" {% if page.selected == "webapp-errors" %}class="active"{% endif %} >Error Handling</a></li>
      <!-- <li><a href="{{ site.baseurl }}/webapp/social-components/" {% if page.selected == "webapp-social-components" %}class="active"{% endif %} >Social Components</a></li> -->
      <li><a href="{{ site.baseurl }}/webapp/list-cards/" {% if page.selected == "webapp-list-cards" %}class="active"{% endif %} >List Cards</a></li>
      <li><a href="{{ site.baseurl }}/webapp/page-layouts/" {% if page.selected == "webapp-page-layouts" %}class="active"{% endif %} >Page Layouts</a></li>
      <li><a href="{{ site.baseurl }}/webapp/navigation/" {% if page.selected == "webapp-navigation" %}class="active"{% endif %} >Navigation</a></li>
      <li><a href="{{ site.baseurl }}/webapp/icons/" {% if page.selected == "webapp-icons" %}class="active"{% endif %} >Icons</a></li>
    </ul>
</nav>
