/* Responsive Styling */


@media only screen and (max-width: 800px) {

  .logo__main{
    width: 50%;
    img{
      margin: 0 auto;
      display: block;
      max-width: 190px;
    }
  }
  .navigation__primary{
    padding: 30px 0 106px 0;
  }

  .navigation__primary__list, .navigation__secondary{
    display: none;
  }

  .hamburgerMenu{
    display: block;
  }

  .container{
    width: 95%;
  }

  .main__content{
    width: 100%;
    padding: 50px 0;
  }

  .main__content__block{
    width: 90%;
  }

  .main__content p, .main__content h1, .main__content h2, .main__content h3{
    width: 85%;
  }

  .form-group p{
    width: 100%;
  }

  .main__content img{
  	width: 100%;
  }

  .main__content__block__third, .main__content__block__half{
    width: 100%;
    margin: 2% 0;
  }

}

@media only screen and (max-width: 600px) {

  .logo__main{
    img{
      max-width: 170px;
    }
  }

  .main__content{
    width: 100%;
    padding: 35px 0;
  }

  h1{
    font-size: 28px;
  }

  h2{
    font-size: 20px;
  }

  p, .main__content__ul li{
    font-size: 16px;
  }

}
