/* Typography for Pattern Library site styles
------------------------------------------------------------------ */

@import "mixins";
@import "variables";

body{
	font-family: "lato", sans-serif;
	color: $textColor;
}


/* Main Text Styles
------------------------------------------------------------------ */

h1{
	@include latoHeavy;
	font-size: 50px;
	color: $pink;
	line-height: 1.1em;
	padding-bottom: 0.6em;
}

h2{
	@include latoBold;
	font-size: 34px;
	line-height: 1.2em;
	padding-bottom: 0.6em;
}

p{
	@include latoRegular;
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: 30px;
}


/* Link Styles 
------------------------------------------------------------------ */

.block__link__subtitle{
	@include latoMedium;
	font-size: 17px;
	color: $purple__light;
	display: block;
}


/* Other 
------------------------------------------------------------------ */

.paragraph--meta{
	@include latoBold;
	color: $purple__meta;
	font-size: 11px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    span{
    	padding-right: 10px;
    }
}












