/* Typography for Pattern Library site styles
------------------------------------------------------------------ */

@import "mixins";
@import "variables";

body{
	font-family: "lato", sans-serif;
	color: $textColor;
}


/* Main Text Styles
------------------------------------------------------------------ */

h1{
	@include latoHeavy;
	font-size: 42px;
	color: $pink;
	line-height: 1.1em;
	padding-bottom: 0.8em;
}

h2{
	@include latoBold;
	font-size: 27px;
	line-height: 1.2em;
	padding-bottom: 0.7em;
	clear: both;
}

h3{
	@include latoBold;
	font-size: 22px;
	line-height: 1.2em;
	padding-bottom: 0.7em;
}

p{
	@include latoRegular;
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: 2em;
}

.main__content__ul li{
	@include latoRegular;
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: 0.5em;
	list-style:inside;
}

.main__content p a{
  border-bottom: 1px solid;
	border-color: darken($borderColor, 15%);
  &:hover{
    border-color: $pink;
  }
}



/* Link Styles
------------------------------------------------------------------ */

.block__link__subtitle{
	@include latoMedium;
	font-size: 17px;
	color: $purple__light;
	display: block;
}


.sidebar__link--title{
	@include latoHeavy;
	opacity: 0.5;
	font-size: 12px;
	color: $white;
	text-transform: uppercase;
	padding: 10px 0 0 0;
	margin: 0;
}

ul.innerList{
	padding: 0 0 10px 15px;
}



/* Other
------------------------------------------------------------------ */

.paragraph--meta{
	@include latoBold;
	color: $purple__meta;
	font-size: 11px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    span{
    	padding-right: 10px;
    }
}

p.caption{
	font-size: 16px;
	font-style: italic;
	width: 100%;
	padding: 5px 0;
	color: $buttonSecondaryText;
}
