/* Variables
------------------------------------------------------------------ */

$purple__background: #F5F3F5;
$purple__light: #AFADBA;
$purple__dark: #38344A;
$purple__meta: #AFADBA;

$white: #ffffff;

$pink: #C1375E;
$gold: #D6BD89;
$red: #D62D29;
$blue: #067BBE;

$textColor: $purple__dark;

$borderColor: #E8E8E8;


/* CMS Specific
------------------------------------------------------------------ */

$cmsGrey: #6A6F75;
$cmsLink: #0570B6;
$cmsPlaceholder: #9A9FA5;
$cmsLightGrey: #EDF0F3;

$buttonPrimary: #00B5EB;
$buttonSecondary: #D2D9E1;
$buttonSecondaryText: #657D98;
$buttonPublish: #9BCA00;
$buttonDisabled: #D2D9E1;
$buttonWidget: #EDF0F3;

$tableRow: #F7F7F7;
$tableHead: $blue;
$componentBorder: #E1E1E1;


$tableEmailText: $blue;

$dataFieldsHeading: #8A6794;


/* Webapp Specific
------------------------------------------------------------------ */

$webappTitleText: #213444;
$webappSidebarText: #63728A;
$webappLink: #106DE0;
$webappTime: #818181;


$webappSidebarActive: #EDEFF2;
$webappProfileHighlight: #F0F1F3;
$webappProfileUpload: #939FB3;

$webappButtonSaveChanges: #3EAF35;


/* Native Specific
------------------------------------------------------------------ */

$nativeTitleText: #1A2D4C;
