/* Variables 
------------------------------------------------------------------ */

$purple__background: #1D173E;
$purple__light: #AFADBA;
$purple__dark: #38344A;
$purple__meta: #AFADBA;

$white: #ffffff;

$pink: #C1375E;
$gold: #D6BD89;
$red: #D62D29;

$textColor: $purple__dark;

$borderColor: #E8E8E8;


/* CMS Specific
------------------------------------------------------------------ */

$cmsGrey: #6A6F75;
$cmsLink: #0570B6;
$cmsPlaceholder: #9A9FA5;

$buttonPrimary: #00B5EB;
$buttonSecondary: #D2D9E1;
$buttonSecondaryText: #657D98;
$buttonDisabled: #D2D9E1;

$tableRow: #F7F7F7;
$tableHead: #E7F2F9;
$componentBorder: #E1E1E1;

/* Webapp Specific
------------------------------------------------------------------ */

$webappTitleText: #213444;
$webappSidebarText: #63728A;
$webappLink: #337ab7;
$webappTime: #818181;

$webappSidebarActive: #EDEFF2;
$webappProfileHighlight: #F0F1F3;
$webappProfileUpload: #939FB3;

