li.colour__block {
  width: 22.6%;
  margin-right: 2%;
  height: 135px;
  display: inline-block;
  position: relative;
  border-radius: 7px; }
  li.colour__block:last-child {
    margin-right: 0; }
  li.colour__block--onewebapp {
    background: #213444; }
  li.colour__block--twowebapp {
    background: #B1B6BE; }
  li.colour__block--threewebapp {
    background: #0570B6; }
  li.colour__block--fourwebapp {
      background: #D62D29; }
 