li.colour__block {
width: 31%;
margin-right: 1.8%;
margin-bottom: 1.8%;
height: 170px;
display: inline-block;
position: relative;
border-radius: 7px;
border: 1px solid #E5E6EA;
}

li.colour__block:last-child {
margin-right: 0; }

li.colour__block--PrimaryBodyColour {
background: #343D4C; }
li.colour__block--SecondaryBodyColour {
background: #637289; }
li.colour__block--PlaceholderColour {
background: #9CA9BC; }
li.colour__block--MetaTextColour {
background: #6D7C99; }

li.colour__block--PrimaryDividerColour {
background: #C9C9C9; }
li.colour__block--SubtleDividerColour{
background: #E2E2E2; }


li.colour__block--LikeIconColour {
background: #D22B36; }
li.colour__block--CommentIconColour {
background: #738BB2; }


li.colour__block--ErrorColour {
background: #D22B36; }
li.colour__block--LinkColour {
background: #106DE0; }

// Buttons
li.colour__block--ReplyingToButtonColour {
background: #C9CEDA; }



// Used in background colours in social, and the empty screens for notification center
li.colour__block--SoftBackgroundColour {
background: #FAF8F9; }
li.colour__block--NotificationReadColour {
background: #FFFFFF; }
li.colour__block--NotificationUnreadColour {
background: #F1F7FF; }

// Dividing lines
li.colour__block--CommentDividerColour {
background: #E5E6EA; }
// Used in notification center and user list
li.colour__block--ListDividerColour{
background: #E0E0E0; }


// Backgrounds for videos and images (before they load in)
li.colour__block--DarkBackgroundColour {
background: #484647; }
li.colour__block--ImageBackgroundColour {
background: #C9C9C9; }
