
/* Native Variables
------------------------------------------------------------------ */
$PrimaryBodyColour:#343D4C;
$SecondaryBodyColour: #637289;
$LinkColour: #106DE0;
$PlaceholderColour: #9CA9BC;
$MetaTextColour: #9CA9BC;

$BorderGrey: #C9C9C9;
$SubtleGrey: #E2E2E2;

$LikeIconColour: #D22B36;
$CommentIconColour: #738BB2;
