<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}
      <div class="main" id="page--{{ page.page }}">
        <article class="container">
          <div class="main__content">
            <h1>Content Management System</h1>
            <p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h2>Type</h2>
            <p>The type throughout the content management system uses Google’s Lato font-family. Various font styles are used throughout the CMS to establish a sense of hierarchy in the content and controls. </p>

            <div class="main__content__block styling__block"  markdown="0">
              <div class="type__block">
                <div class="paragraph--meta paragraph--meta--top">Page Title<div>
                <div class="text--pageTitlePrimary">The quick brown fox jumps over the lazy dog</div>
                <div class="paragraph--meta paragraph--meta--bottom">
                  <span>Size: 27px</span>
                  <span>Weight: Regular</span>
                  <span>Letter-Spacing: -0.5px</span>
                </div>
              </div>
              <div class="type__block">
                <div class="paragraph--meta paragraph--meta--top">Secondary &amp; Modal Title<div>
                <div class="text--pageTitleSecondary">The quick brown fox jumps over the lazy dog</div>
                <div class="paragraph--meta paragraph--meta--bottom">
                  <span>Size: 18px</span>
                  <span>Weight: SemiBold</span>
                  <span>Letter-Spacing: -0.5px</span>
                </div>
              </div>
              <div class="type__block">
                <div class="paragraph--meta paragraph--meta--top">Paragraph<div>
                <div class="text--pageParagraph">The quick brown fox jumps over the lazy dog</div>
                <div class="paragraph--meta paragraph--meta--bottom">
                  <span>Size: 15px</span>
                  <span>Weight: Regular</span>
                  <span>Letter-Spacing: -0.3px</span>
                </div>
              </div>
              <div class="type__block">
                <div class="paragraph--meta paragraph--meta--top">Micro<div>
                <div class="text--pageMicro">The quick brown fox jumps over the lazy dog</div>
                <div class="paragraph--meta paragraph--meta--bottom">
                  <span>Size: 11px</span>
                  <span>Weight: Regular</span>
                  <span>Letter-Spacing: 0.5px</span>
                </div>
              </div>
              <div class="type__block">
                <div class="paragraph--meta paragraph--meta--top">Warning<div>
                <div class="text--pageParagraphWarning">The quick brown fox jumps over the lazy dog</div>
                <div class="paragraph--meta paragraph--meta--bottom">
                  <span>Size: 15px</span>
                  <span>Weight: Regular</span>
                  <span>Letter-Spacing: -0.3px</span>
                </div>
              </div>  
            </div>


          </div>
        </article>
        <footer>Copyright of TheAppBuilder 2017</footer>
      </div>
  </body>
</html>
