li.colour__block {
  width: 22.6%;
  margin-right: 2%;
  height: 135px;
  display: inline-block;
  position: relative;
  border-radius: 7px; }
  li.colour__block:last-child {
    margin-right: 0; }
  li.colour__block--onecms {
    background: #6A6F75; }
  li.colour__block--twocms {
    background: #9A9FA5; }
  li.colour__block--threecms {
    background: #0570B6; }
  li.colour__block--fourcms {
      background: #D62D29; }
 li.colour__block--fivecms {
      background: #EDF0F3; }
 