
/* CMS Styles
------------------------------------------------------------------ */


.text--pageTitlePrimary{
	@include latoRegular;
	font-size: 27px;
	color: $cmsGrey;
	letter-spacing: -0.5px;
	text-transform: none;
}

.text--pageTitleSecondary{
	@include latoSemibold;
	font-size: 18px;
	color: $cmsGrey;
	letter-spacing: -0.5px;
	text-transform: none;
}

.text--pageParagraph{
	@include latoRegular;
	font-size: 15px;
	color: $cmsGrey;
	letter-spacing: -0.3px;
	text-transform: none;
}

.text--pageMicro{
	@include latoRegular;
	font-size: 11px;
	color: $cmsGrey;
	letter-spacing: 0;
	text-transform: none;
}

.text--pageParagraphWarning{
	@include latoRegular;
	font-size: 15px;
	color: $red;
	letter-spacing: -0.3px;
	text-transform: none;
	background-image: url('../assets/images/no-connection.svg');
  	background-position: left center;
  	background-repeat: no-repeat;
  	padding-left: 20px;
}

.text--link{
	@include latoRegular;
	font-size: 15px;
	color: $cmsLink;
	letter-spacing: 0;
	padding-bottom: 1px;
	&:hover{
		text-decoration: underline;
	}
}

a.text--link--micro{
	@include latoRegular;
	font-size: 13px;
	color: $cmsLink;
	letter-spacing: -0.3px;
	text-transform: none;
	background-image: url('../assets/images/eye.svg');
  	background-position: left center;
  	background-repeat: no-repeat;
  	padding-left: 17px;
  	&:hover{
  		text-decoration: underline;
  	}
}

button{
	@include fadeAnimation;
	@include latoSemibold;
	font-size: 15px;
	padding: 10px 16px;
	border-radius: 5px;
	border: none;
	margin: 15px 15px 15px 0;
}

.button--primary{
	color: $white;
	background: $buttonPrimary;
	border: $buttonPrimary;
	&:hover{
		background: darken($buttonPrimary, 5%);
	}
}

.button--secondary{
	color: $buttonSecondaryText;
	background: $white;
	border: 1px solid $buttonSecondary;
	&:hover{
		background: darken($white, 3%);
	}
}

.button--mini{
	font-size: 13px;
	padding: 6px 12px;
}

.button--disabled{
	background: $buttonDisabled;
	cursor: not-allowed;
	&:hover{
		background: $buttonDisabled;
	}
}

.tag{
	font-size: 13px;
	display: inline-block;
	margin: 0 4px 8px;
	color: $cmsLink;
	background: lighten($cmsLink, 60%);
	border-radius: 5px;
	border: solid 1px $cmsLink;
	padding: 6px 12px;
}

.tag--negative{
	color: $red;
	background: lighten($red, 46%);
	border: solid 1px $red;
}

a.remove{
	background-image: url('../assets/images/remove-blue.svg');
  	background-position: 10px 6px;
  	background-repeat: no-repeat;
  	padding-right: 20px;
}

a.remove--negative{
	background-image: url('../assets/images/remove-red.svg');
}

label{
	@include latoBold;
	font-size: 12px;
	color: $buttonSecondaryText;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	padding-bottom: 3px;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select{
	height: 34px;
  padding: 6px 8px;
  vertical-align: middle;
	width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group{
	display: inline-block;
	margin-right: 20px;
}


/*Tables Section
-----------------------------------------------------------------------------------------------------*/
.table-allUsers table{
	border-collapse: collapse;
}

.table-columnOne{

	color: $tableColumnOnce;
}

.table-columnFive{

width: 50px;
padding-left: 15px;

}

.table-RedRemove:hover{
	cursor: pointer;

}

.table-RowOne{
	cursor: pointer;
}




.table-allUsers tr{

		color: #707070;
}

.table-allUsers tr:nth-child(even) {
    background-color: #F7F7F7;

}

.table-allUsers th{
	background-color:rgba(6, 123, 190, 0.10);
	color: #0099cf;
	text-align: left;
	font-weight: 800;


}

.table-allUsers td, th{
padding: 15px;
}

.table-allUsers th{
  padding-top: 5px;
	padding-bottom: 5px;
}

/*Search Users
-----------------------------------------------------------------------------------------------------*/

.searchUsers__block{
vertical-align: middle;
background: #F7F7F7;
border: 1px solid #E1E1E1;
padding-top: 10px;
padding-bottom: 10px;
position: relative;


}

.searchUsers--label{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	color: #6A6F75;
	letter-spacing: 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: 400;

}


input[type="text"].searchUsers--searchBox{
background: #FFFFFF;
border: 1px solid #E1E1E1;
width: 528px;
height: 45px;
border-radius: 0;
font-size: 18px;
outline: 0;


}


.searchUsers--closeIcon{
position: relative;
right: 32px;
padding: 0;
vertical-align: middle;
color: #E1E1E1;
outline: 0;

}



.searchUsers--submitButton{
	border-radius: 4px;
	border: none;
	vertical-align: middle;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1.1em;
	outline: 0;
	position: relative;
	right: 20px;
	@include buttonPrimaryHover;
}



.searchUsers--resetButton{
	border-radius: 4px;
	vertical-align: middle;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1.1em;
	outline: 0;
	position: relative;
	right: 20px;

	color: $buttonSecondaryText;
	background: $white;
	border: 1px solid $buttonSecondary;
	&:hover{
		background: darken($white, 3%);
	}

}


/*Search and Select Users
-----------------------------------------------------------------------------------------------------*/

.searchSelectGroups--block input[type="text"]{
	 padding: 10px;
	 width: 60%;
	 height: 40px;
	 border-radius: 4px 0 0 4px;
	 outline: 0;

}

.searchSelectGroups--block input[type="text"]:not([value=""]) + button{
	@include buttonPrimaryHover;

}



.searchSelectGroups--addButton{
	 height: 40px;
	 padding: 4px;
	 border-left: none;
	 border-radius: 0px 4px 4px 0px;
	 cursor: pointer;
	 vertical-align: middle;
	 width: 10%;
	 background: #D2D9E1;
	 color: #ffffff;
	 position: relative;
	 right: 5px;
	 outline: 0;

}


/*Iconograhy
-----------------------------------------------------------------------------------------------------*/


.iconography--block tr{
	padding-top: 25px;


}




.iconography--block td:nth-child(odd){
width: 70px;
vertical-align: middle;

}



.iconograhy--icons{
height: 20px;
vertical-align: middle;

}




.greenTick{
	height: 13px;


}


.deleteTrashCan{
	height: 18px;

}


.eyeIcon{
	height: 13px;

}


.userSearchClearIcon{
	height: 18px;

}

.clearSearch{
	height: 12px;

}

.locked{

height: 18px;

}


.warningIcon{
	height: 14px;

}

.remove-blue{
	height:12px;

}
